<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My Cheat Sheet App</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css">

<script>
angular.module('myApp', ['mgcrea.ngStrap', 'ui.bootstrap', 'ngSanitize'])

.controller('CarouselCtrl', function ($scope) {
		$scope.myInterval = 5000;
		var slides = $scope.slides = [];
		$scope.addSlide = function() {
		var newWidth = 600 + slides.length + 1;
		slides.push({
image: 'http://placekitten.com/' + newWidth + '/300',
text: ['More','Extra','Lots of','Surplus'][slides.length % 4] + ' ' +
['Cats', 'Kittys', 'Felines', 'Cutes'][slides.length % 4]
});
		};
		for (var i=0; i<4; i++) {
		$scope.addSlide();
		}
		})

.controller('RollsCtrl', function($scope){
		$scope.rolls = [{},{},{},{},{}];		
		})

.controller('ContentCtrl', function($scope, $http){
		//$http.get("http://loripsum.net/api/10/short/headers").then(function(resp){
		//		$scope.body = resp;
		//	});
		$scope.body = "<h1>Nunc haec primum fortasse audientis servire debemus.</h1><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nescio quo modo praetervolavit oratio. Quid enim? Quae duo sunt, unum facit. Ergo, inquit, tibi Q. </p><h5>Quam nemo umquam voluptatem appellavit, appellat;</h5>" +
		"<p>Quare attende, quaeso. Videsne quam sit magna dissensio? </p>"+
		"<h6>Qui ita affectus, beatum esse numquam probabis;</h6>"+
		"<p>Stoicos roga. Immo videri fortasse. Minime vero istorum quidem, inquit. Itaque ab his ordiamur. Stoici scilicet. Immo videri fortasse. </p>"+
		"<p>Quis istud, quaeso, nesciebat? Quae contraria sunt his, malane? Duo Reges: constructio interrete. Si longus, levis. Explanetur igitur. Id Sextilius factum negabat. Quod quidem iam fit etiam in Academia. </p>"+
		"<h4>Scaevolam M.</h4>"+
		"<p>An tu me de L. Hunc vos beatum; Beatus sibi videtur esse moriens. Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Utilitatis causa amicitia est quaesita. Si id dicis, vicimus. </p>"+
		"<p>Nihilo beatiorem esse Metellum quam Regulum. Prioris generis est docilitas, memoria; At iam decimum annum in spelunca iacet. Huius ego nunc auctoritatem sequens idem faciam. Equidem e Cn. Cur haec eadem Democritus? </p>"+
		"<p>Restatis igitur vos; Ille incendat? Praeclare hoc quidem. Age sane, inquam. Illi enim inter se dissentiunt. Venit ad extremum; Addidisti ad extremum etiam indoctum fuisse. Prodest, inquit, mihi eo esse animo. </p>"+
		"<h3>Duae sunt enim res quoque, ne tu verba solum putes.</h3>"+
		"<p>Quare conare, quaeso. Certe non potest. Igitur ne dolorem quidem. Sed hoc sane concedamus. Quid sequatur, quid repugnet, vident. Venit ad extremum; Immo videri fortasse. Ut id aliis narrare gestiant? </p>"+
		"<h2>Multoque hoc melius nos veriusque quam Stoici.</h2>"+
		"<p>Prave, nequiter, turpiter cenabat; Cave putes quicquam esse verius. Primum divisit ineleganter; Minime vero, inquit ille, consentit. Si quae forte-possumus. Laboro autem non sine causa; </p>"+
		"<p>An tu me de L. Ut pulsi recurrant? Is es profecto tu. Tum mihi Piso: Quid ergo? Illa tamen simplicia, vestra versuta. </p>";
		})
.controller('AffiliatesCtrl', function($scope){
		$scope.affiliates = [{},{},{},{}];
		});


</script>
</head>
<body  style="padding-top:70px; padding-bottom:70px;">



<div class="container-fluid">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Brand</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li data-match-route="/$"><a href="#/">Home</a></li>
				<li data-match-route="/page-one"><a href="#/page-one">Page One</a></li>
				<li data-match-route="/page-two.*"><a href="#/page-two/sub-a">Page Two</a></li>
			</ul>
		</div>
	</nav>
	<div class="row">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<div ng-controller="CarouselCtrl">
				<carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{slide.image}}" style="margin:auto;">
				<div class="carousel-caption">
					<h4>Slide {{$index}}</h4>
					<p>{{slide.text}}</p>
				</div>
				</slide>
				</carousel>
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-6 col-lg-pull-2 pull-right"  ng-controller="ContentCtrl">
			<div class="jumbotron">
				<p class="lead" ng-bind-html="body">
				</p>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 col-lg-2 hidden-md hidden-sm hidden-xs " style="position:fixed; right:0px; ">
			<div class="list-group" ng-controller="RollsCtrl">
				<a href="#" class="list-group-item active" ng-repeat="roll in rolls">
					<h4 class="list-group-item-heading">List group item heading</h4>
					<p class="list-group-item-text">...</p>
				</a>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 col-sm-6 " >
			<div class="container-fluid">
				<div class="row" ng-controller="AffiliatesCtrl">
					<div class="col-sm-12" ng-repeat="affiliate in affiliates">
						<div class="thumbnail">
							<img src="..." alt="...">
							<div class="caption">
								<h3>Thumbnail label</h3>
								<p>...</p>
								<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="col-lg-5 col-md-6 col-sm-12" style="position:fixed;bottom: 0; right:0;">
		<div class="panel">

			<div class="row">
				<div class="col-xs-2 text-center">
					<a href="#">
						<i class="fa fa-facebook-official fa-5x"></i>
					</a>
				</div>
				<div class="col-xs-2 text-center">
					<a href="#">
						<i class="fa fa-instagram fa-5x"></i>
					</a>
				</div>
				<div class="col-xs-2 text-center">
					<a href="#">
						<i class="fa fa-vine fa-5x"></i>
					</a>
				</div>
				<div class="col-xs-2 text-center">
					<a href="#">
						<i class="fa fa-twitter fa-5x"></i>
					</a>
				</div>
				<div class="col-xs-2 text-center">
					<a href="#">
						<i class="fa fa-youtube fa-5x"></i>
					</a>
				</div>
				<div class="col-xs-2 text-center">
					<a href="#">
						<i class="fa fa-linkedin-square fa-5x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>	
</div>


</div>



</body>
</html>
